.DS_Store
**/.DS_Store
**.log
testing/
cache/
logs/
scratch/
results/
trash/
paper/
paper_original/
paper_resubmitted/
paper_revised/
paper_final/
scripts/_config.json
# data/Countries_WGS84/processed/
data/MERRA/
data/PVGIS/
data/MERRA_Max
data/PVGIS_Max
data/Countries_WGS84_Max
data/Countries_WGS84/Land_Availability
data/onshore_turbine_placements-Ryberg_2019/
.ipynb_checkpoints
**/.ipynb_checkpoints
__pycache__/
# scripts/config.json
scripts/00_preparations/02_PVGIS_download.py
**/gurobi.lic
**launch.json
**_Max**
**_Saskia**