.DS_Store
**/.DS_Store
testing/
cache/
logs/
scratch/
results/
data/Countries_WGS84/processed/
data/MERRA/
data/PVGIS/
data/onshore_turbine_placements-Ryberg_2019/
.ipynb_checkpoints
**/.ipynb_checkpoints
__pycache__/
scripts/config.json
scripts/00_preparations/02_PVGIS_download.py
**/gurobi.lic